@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
}

.nav-item::before,
.nav-item::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #DB4444;
  transition: width 0.3s ease;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item::before {
  bottom: 0;
}

.nav-item::after {
  top: 0;
}

.nav-item:hover::before,
.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover {
  color: #DB4444;
}

html, body {
  height: auto; /* Allow body height to adjust to content */
  margin: 0; /* Remove default margins */
  overflow: auto; /* Ensure scrolling is possible */
}



